* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
.home-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* background-color: #f5f5f5; */
}
.header {
	align-items: center;
	height: 140px;
	display: flex;
	justify-content: center;
	text-align: center;
}
.header-logo {
	color: #114e4e;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.home-title {
	font-size: 24px;
	color: #e17334;
	text-align: center;
	margin: 5px 14px 0 13px;
	font-family: Merriweather, serif;
}

.home-subtitle {
	margin: 0 0 17px;
	font-family: Open Sans, sans-serif;
	font-size: 14px;
	color: #114e4e;
	text-align: center;
}

.home__list {
	list-style: none;
	padding: 0;
	width: 268px;
	height: 74px;
	margin-top: 20px;
	border: solid 2px rgba(225, 115, 52, 0.21);
	border-radius: 4px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.home__list-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.home__list-item svg {
	width: 32px;
	height: 32px;
	color: #e17334;
	font-size: 23px;
}

.home__list-text {
	margin: 0;
	font-family: Open Sans, sans-serif;
	text-align: center;
	color: #54585a;
	font-size: 13px;
}

/*Button*/

.home-button {
	margin: 60px 0;
	text-decoration: none;
	width: 129px;
	height: 42px;
	border-radius: 21px;
	background: #438792;
	display: flex;
	justify-content: center;
	align-items: center;
}
.home-button:hover {
	background-color: #e17334;
	transition: 0.4s ease-in-out;
	transform: scale(1.2);
}
.home-button span {
	color: #fff;
	font-family: Open Sans, sans-serif;
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px 0;
}
footer a {
	color: #6b6b6b;
}
/*tablet*/
@media screen and (min-width: 768px) {
	.header-logo {
		font-size: 40px;
	}
	.home-title {
		font-size: 26px;
	}

	.home-subtitle {
		font-size: 17px;
		width: 350px;
	}

	.home__list {
		width: 325px;
		height: 86px;
	}

	.home__list svg {
		font-size: 32px;
	}
	.home__list-text {
		font-size: 14px;
	}
	footer {
		padding: 15px 0;
	}
}
